services:
  - type: web
    name: krishak-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: ADMIN_EMAIL
        value: admin@krishak.com
      - key: ADMIN_PASSWORD
        sync: false
      - key: ADMIN_NAME
        value: System Admin
      - key: ADMIN_PHONE
        value: 01700000000

